<div class="search-container-box">
    <div>
        <div class="search-results-image-container">
            <img src="{{ url_for('searchApp.getSongImage', songName=firstSong) }}" alt="Song Image" class="song-container-image">
            <img src="{{ url_for('searchApp.getSongImage', songName=firstSong) }}" alt="Song Image" class="song-container-image song-container-image-2">
            <img src="{{ url_for('searchApp.getSongImage', songName=firstSong) }}" alt="Song Image" class="song-container-image song-container-image-3">
            <img src="{{ url_for('searchApp.getSongImage', songName=firstSong) }}" alt="Song Image" class="song-container-image song-container-image-4">
            <img src="{{ url_for('searchApp.getSongImage', songName=firstSong) }}" alt="Song Image" class="song-container-image song-container-image-5">
        </div>
        <div class="search-results-first-song-container">
            <a href="{{ url_for('songViewApp.view', songName=firstSong) }}" class="sidebar-link" onclick="loadContent(event, this.href)">
            {{ os.path.splitext(os.path.basename(firstSong))[0] }}
            </a>
        </div>
    </div>
    <div class="search-results-relevant-songs relevant-songs-listing">
            {% for song in relevantSongs %}
                <div style=" margin-top: 80px">
                    <div class="search-results-image-container">
                        <img src="{{ url_for('searchApp.getSongImage', songName=song) }}" alt="Song Image" class="song-container-image-small">
                        <img src="{{ url_for('searchApp.getSongImage', songName=song) }}" alt="Song Image" class="song-container-image-small song-container-image-small-2">
                        <img src="{{ url_for('searchApp.getSongImage', songName=song) }}" alt="Song Image" class="song-container-image-small song-container-image-small-3">
                        <img src="{{ url_for('searchApp.getSongImage', songName=song) }}" alt="Song Image" class="song-container-image-small song-container-image-small-4">
                        <img src="{{ url_for('searchApp.getSongImage', songName=song) }}" alt="Song Image" class="song-container-image-small song-container-image-small-5">
                    </div>
                    <div style="margin-left: 110px; margin-top: 25px;">
                        <a href="{{ url_for('songViewApp.view', songName=song) }}" class="sidebar-link" onclick="loadContent(event, this.href)">
                            {{ os.path.splitext(os.path.basename(song))[0] }}
                        </a>
                    </div>
                </div>
            {% endfor %}
    </div>
    <div style="display: flex; overflow-x: auto;">
        <ul style="display: flex; list-style-type: none; margin-top: 80px" class="no-bullets">
            {% for song in otherSongs%}
                <div class="song-container-box-mini">
                    <li style="margin-right: 10px;">
                        <div class="image-container-mini">
                            <img src="{{ url_for('searchApp.getSongImage', songName=song) }}" alt="Song Image" class="song-container-image-small" loading="lazy">
                            <img src="{{ url_for('searchApp.getSongImage', songName=song) }}" alt="Song Image" class="song-container-image-small song-container-image-small-2" loading="lazy">
                            <img src="{{ url_for('searchApp.getSongImage', songName=song) }}" alt="Song Image" class="song-container-image-small song-container-image-small-3" loading="lazy">
                            <img src="{{ url_for('searchApp.getSongImage', songName=song) }}" alt="Song Image" class="song-container-image-small song-container-image-small-4" loading="lazy">
                            <img src="{{ url_for('searchApp.getSongImage', songName=song) }}" alt="Song Image" class="song-container-image-small song-container-image-small-5" loading="lazy">
                        </div>
                        <div>
                            <a href="{{ url_for('songViewApp.view', songName=song) }}" class="sidebar-link" onclick="loadContent(event, this.href)">
                                {{ os.path.splitext(os.path.basename(song))[0] }}
                            </a>
                        </div>
                    </li>
                </div>
            {% endfor %}
        </ul>
    </div>            
</div>