__pycache__
.env
.venv
old/accounts/*
!old/accounts/default
old/static/music/*.mp3
node_modules
old
client/static/music/*.mp3
packaged
client/backendProcesses/playlists/playlists/*.json
music
client/sql.py
musicPlayer.db
covers
a