<style>
    .dyn-content-container {
        display: flex;
        align-items: flex-start; /* Align items to the start of the flex container */
        margin-top: 1em;
    }
    
    .image-container {
        position: relative; /* Position relative for stacking images */
        width: 400px;
        height: 400px;
    }

    .song-container-image {
        border-radius: 25px;
        width: 400px;
        height: 400px;
        position: absolute;
        top: 100;
        left: 100;
        z-index: 1;
    }

    .song-container-image-2 {
        width: 402px;
        height: 402px;
        opacity: 0.75;
        z-index: 0;
    }

    .song-container-image-3 {
        width: 404px;
        height: 404px;
        opacity: 0.5;
        z-index: 0;
    }

    .song-container-image-4 {
        width: 406px;
        height: 406px;
        opacity: 0.25;
        z-index: 0;
    }

    .song-container-image-5 {
        width: 408px;
        height: 408px;
        opacity: 0.1;
        z-index: 0;
    }

    .song-container-image-2 {
        width: 402px;
        height: 402px;
        opacity: 0.75;
        z-index: 0;
    }

    .song-container-image-3 {
        width: 404px;
        height: 404px;
        opacity: 0.5;
        z-index: 0;
    }

    .song-container-image-4 {
        width: 406px;
        height: 406px;
        opacity: 0.25;
        z-index: 0;
    }

    .song-container-image-5 {
        width: 408px;
        height: 408px;
        opacity: 0.1;
        z-index: 0;
    }

    .info-container {
        margin-left: 1em; /* Add some space between images and info */
    }
    
    .controls {
        margin-top: 1em;
    }
    
    .song-info {
        margin-bottom: 0.5em;
    }
</style>

<h1>Song-View</h1>

<div class="dyn-content-container">
    <div class="image-container">
        <img src="{{ url_for('searchApp.getSongImage', songName=songName) }}" alt="Song Image" class="song-container-image">
        <img src="{{ url_for('searchApp.getSongImage', songName=songName) }}" alt="Song Image" class="song-container-image song-container-image-2">
        <img src="{{ url_for('searchApp.getSongImage', songName=songName) }}" alt="Song Image" class="song-container-image song-container-image-3">
        <img src="{{ url_for('searchApp.getSongImage', songName=songName) }}" alt="Song Image" class="song-container-image song-container-image-4">
        <img src="{{ url_for('searchApp.getSongImage', songName=songName) }}" alt="Song Image" class="song-container-image song-container-image-5">
    </div>
    <div class="info-container">
        <div class="song-info">Title: {{ songInfo['title'] }}</div>
        <div class="song-info">Artist: {{ songInfo['artist'] }}</div>
        <div class="song-info">Album: {{ songInfo['album'] }}</div>
        <div class="song-info">Genre: {{ songInfo['genre'] }}</div>
        <div class="song-info">Duration: {{ songInfo['duration_long'] }} ({{ songInfo['duration_secs'] }} secs)</div>
        <div class="controls">
            <button onclick="setSong('/{{ songName }}')">Play</button>
            <button onclick="queueSong('/{{ songName }}')">Queue</button>
        </div>
    </div>
</div>