<link href="/static/songView.css" rel="stylesheet">

<h1>Song-View</h1>

<div class="dyn-content-container">
    <div class="image-container">
        <img src="{{ url_for('searchApp.getSongImage', songName=songName) }}" alt="Song Image" class="song-container-image">
        <img src="{{ url_for('searchApp.getSongImage', songName=songName) }}" alt="Song Image" class="song-container-image song-container-image-2">
        <img src="{{ url_for('searchApp.getSongImage', songName=songName) }}" alt="Song Image" class="song-container-image song-container-image-3">
        <img src="{{ url_for('searchApp.getSongImage', songName=songName) }}" alt="Song Image" class="song-container-image song-container-image-4">
        <img src="{{ url_for('searchApp.getSongImage', songName=songName) }}" alt="Song Image" class="song-container-image song-container-image-5">
    </div>
    <div class="info-container">
        <div class="song-info">Title: {{ songInfo['title'] }}</div>
        <div class="song-info">Artist: {{ songInfo['artist'] }}</div>
        <div class="song-info">Album: {{ songInfo['album'] }}</div>
        <div class="song-info">Genre: {{ songInfo['genre'] }}</div>
        <div class="song-info">Duration: {{ songInfo['duration_long'] }} ({{ songInfo['duration_secs'] }} secs)</div>
        <div class="controls">
            <button onclick="setSong('/{{ songName }}')">Play</button>
            <button onclick="queueSong('/{{ songName }}')">Queue</button>
        </div>
    </div>
</div>