[Desktop Entry]
Type=Application
Exec=
Terminal=false
Name=musicPlayer
Comment=Application that plays music
Categories=Qt;KDE;
X-Flatpak=io.github.nmstr.auralium